<h1>Editing: <%= @course_assignment.title %></h1>

<%= render 'form' %>

<%= link_to 'Back to Assignment', @course_assignment %> |
<%= link_to "Back to Course", course_session_path(@course_assignment.course_session) %>
