<h1>MindImp</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>
Welcome to MindImp! Click on the link below to activate your account:
</p>

<%= link_to "Activate my MindImp Account", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>