<%= form_for(current_user.read_books.
                          build(read_book_id: @book.id),
                          remote: true) do |f| %>
  <div><%= hidden_field_tag :read_book_id, @book.id %></div>
  <%= f.submit "I've read this book!", class: "btn btn-primary" %>
<% end %>