<h1> My Courses </h1>

<% if @course_sessions.empty? %>
<h3>You don't seem to be enrolled in any classes right now.</h3>
<% else %>
<ul class="users">
<% @course_sessions.each do |c| %>
        <%= link_to c.full_title, course_session_path(c) %> </br>
<% end %>
</ul>
<% end %>

</br>
<%= link_to "Back", student_portal_path, class: "btn btn-lg"%>
