<h1>My Instructors</h1>


<h2>My Course Instructors </h2>


<% if @course_sessions.empty? %>
<h3>You don't seem to be enrolled in any classes right now.</h3>
<% else %>
<ul class="users">
<% @course_sessions.each do |c| %>
        <%= link_to c.instructor.name, user_path(c.instructor) %> </br>
<% end %>
</ul>
<% end %>

<h2>My Reading Instructors</h2>

<% unless @followers.empty? %>
<ul class="users">
<% @followers.each do |f|%>
<li><%= f.name %></li>
<% end %>
</ul>
<% end %>



</br>
<%= link_to "Back", student_portal_path, class: "btn btn-lg"%>