<h1><%= @user.first_name + " " + (!@user.nick_name.blank? ? "(#{@user.nick_name}) " : "") + @user.last_name %></h1>
<h4><%= @user.email %></h4>
<% if current_user.is_admin? %>
<%= render 'follow_form' %> 
<% end %>


<p id="notice"><%= notice %></p>


<hr />
<!-- SUBNAV SECTION -->
<div id="subnavbar" class="subnav" role="navigation">
  <ul class="nav nav-pills">
    <li><a href="#bio">Biographical Information</a></li>
    <% if current_user == @user || current_user.is_admin? %>
    <li><a href="#class">Class Information</a></li>
    <li><a href="#books">Books</a></li>
    <li><a href="#assessments">Assessments</a></li>
    <% end %>
    <% if current_user.is_admin? %>
      <li><a href="#follow">Followers</a></li>
      <li><a href="#admin">Settings</a></li>
    <% end %>
  </ul>
</div>
<hr />
<!-- SUBBODY SECTION -->

