<% provide(:title, @title) %>

<h1><%= @title %></h1>



<h2>Want to read</h2>
<div class="row">
<% @user.articles.each do |a| %>
	 <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
        <%= image_tag a.article_source.photo.url(:medium) %>
        <dt><%= link_to a.title, article_path(a)%></dt>
        </div>    
     </div>
<% end %>
</div>


<h2>Currently reading</h2>
Coming Soon


<h2>Have already read</h2>
Coming Soon



