<% provide(:title, 'About') %>

<h1>About Us</h1>

<p>Welcome to the MindImp App! From this platform, registered students can access all the necessary resources for their programs and get a glimpse of everything MindImp has to offer. </p>
 
<h3>Course Program</h3>
<p>MindImp offers a wide range of courses, spanning from <em>U.S. History</em> and <em>Public Speaking</em> to <em>College Essay Writing</em> to <em>Global Perspectives</em>. Course students can access their course syllabi, homework assignments and essential readings, and engage with their instructors and classmates.</p>
 
<h3>Reading Program</h3>
<p>Are you a Reading Student on the Article Track? Browse our stock of articles from renowned publications like New York Times and Wall Street Journal, access your homework, and submit discussion questions directly to your advisor. Are you on the Book Track? One click takes you to Amazon, our reading database, and your weekly assignments. We have over 70 articles and books in our database and are adding more daily!</p>
 
<h3>Certifications</h3>
<p>What do you like to read and talk about? Conservation? Gender equality? International conflicts? Reading Program students in the Article Track can pursue Certifications by reading thematically similar assignments along tracks. Find readings, review requirements, and track your progress as you become an expert in your favorite topic. Reading Program students in the Book track can achieve similar certifications by completing a number of books in a certain genre or literary movement. And Course students are invited to pursue Certifications as well, achieving a kind of “Major” study in a particular field, ranging from Visual Arts to Debate to American Studies. In each case, a certification includes participation in the corresponding MindImp programs, culminating in a capstone project, which involves independent research and a final presentation.</p>
 
<h3>Personal Planning Program (Coming soon!)</h3>
<p>Access your Gallup Strengths profile, engage with your advisor, and research extracurricular activities, summer camps, and university programs that fit your personality and goals. Students can develop their skills in the activities and fields about which they’re passionate, while receiving consistent feedback from their advisors. These skills range from spoken English to important “soft” skills like communication, self-confidence, and critical thinking. Monthly evaluations will ensure that  students can focus and achieve consistent improvement.</p>
 
<h3>Profile and Community</h3>
<p>You add your photo, a bio, and fun information about yourself. We’ll link you to your courses, sessions, and readings. Then, connect with your instructors, advisors, classmates, and other MindImps through MindImp Community (coming soon!).</p>
 <hr/>
<p>Not a student yet? Or see something else you like? Email <a href="mailto:info@mindimp.com">info@mindimp.com</a> for more information.</p>
