<% unless current_user.is_admin? %> 

<h1><%= "Sorry, you are not authorized to access this page!" %> </h1>

<% else %> 
<h1>Administrator Portal </h1>


<div class="well">
<%= link_to "Student List", users_path, class: "btn btn-info" %>  | 
<%= link_to "My Profile", user_path(current_user.id), class: "btn btn-info"%> | 
<%= link_to "Book List", books_path, class: "btn btn-info" %>
</div>


<% end %> 
