<h1>Administrator Portal </h1>


<div class="well">
<%= button_to "Student List", users_path, method: :get, class: "btn btn-info" %></br>
<%= button_to "My Profile", user_path(current_user.id), method: :get, class: "btn btn-info"%>
</div>

