<h1>Student Responsibility Contract</h1>

<p><b><h3>Expectations:</h3></b> We hold our students to the same standards that US colleges and universities will. We expect students to take personal responsibility for their academic work at MindImp and complete this work by themselves. We also expect our students and staff to treat each other with respect at all times.</p>

<p><em>Student Preparedness:</em> Students must always come to class and advisor meetings completely prepared. Being completely prepared includes finishing all reading and assignments on time, but it also includes doing extra reading or independent research to prepare for class discussions, if the students feels he or she needs more information.</p> 

<p>Students must also complete all downloads and access all files needed for a class before the class begins. Students that are not completely prepared by the start of class and cause delays will be counted as being late to class.</p>

<p><em><h3>Academic Honesty:</h3></em> Examples of academic dishonesty that students should avoid at all times include but are not limited to:
	<ul>
<li>Downloading and using without adequate citation material found on the Internet, including words, pictures, graphs, tables, and other graphics;</li>
<li>Turning in written or graphic work without citing correctly the sources of ideas, words, data, or images;</li>
<li>Copying from others on papers, tests, or other work;</li>
<li>Manufacturing or falsifying data in the process of research; and</li>
<li>Submitting one homework assignment to satisfy the requirements of two different courses without getting permission from both instructors.</li>
	</ul></p>

<p><em>Student Conduct:</em> While students are expected to express opinions and may disagree with their peers, students are expected to treat their classmates with respect. During class discussion and group work, students should listen to and show consideration for others’ opinions, even opinions with which they do not agree. Personal attacks are never allowed; if something is said during class that makes students uncomfortable, they are always welcome to discuss their concerns with the instructor in private.</p>

<p>Students are expected to listen respectfully to the instructor and follow instructions. That being said, students may disagree with the instructor during class discussions. Students are encouraged to state their own opinions and question the instructor’s arguments, provided that doing so does not disrupt the class. Any concerns about the direction of the course or of instructor behavior can be discussed with the instructor after class or with another MindImp employee. </p>

<p><em>Communication:</em> Each student must provide a personal email address that he or she checks at least once a day and will use in all communications with MindImp staff. Students should reply to any emails received from MindImp within 24 hours. Parents should not respond to MindImp emails sent to students or turn in student homework unless there is an emergency.</p>

<p><em>Attendance:</em> Students are expected to attend each class session or meeting with an advisor on time. If students must miss any meeting for any reason, they must notify the instructor/advisor at least three hours in advance. Failure to give advance notification will result in an unexcused absence and a lowered grade. All absences, both excused and unexcused, will result in an email notification to parents.</p>

<p><em><h3>Homework Assignments:</h3></em></p>

<p>Reading Program: Students receive new assignments on each Friday and must turn in the written portion of the assignment and complete a 15-minute Skype discussion with their advisors by the following Friday. Students should use the Doodle polling system set up by their advisors to schedule Skype meetings.</p>

<p>Course Program: Each class session will have a homework assignment, which students may or may not be required to submit to the instructor. Each assignment that must be submitted to the instructor should be submitted one day before the next class session. Any assignment that does not require submission should be completed in a thoughtful manner before the following class. </p>

<p><em>Homework Late Policy:</em></p>

<p>Reading Program: If students notify instructors at least two days in advance of the deadline of any extenuating circumstances preventing them from completing some portion of the assignment, they may receive an excused incomplete for that assignment. As long as half of the assignment is completed by the deadline (written part or Skype chat), students will receive a new homework assignment the following week. If students are unable to do a Skype chat due to Internet access issues, students can also request to do an extra writing assignment. However, students may only use the extra writing option once per month. If a student fails to complete his or her assignment without notifying the instructor and being excused, the assignment will be marked as unexcused incomplete. An email notification will be sent to the student’s parents, and the student’s grade will be negatively affected.</p>

<p>Course Program:  If students notify instructors at least two days in advance of the deadline of any extenuating circumstances preventing them from completing some portion of an assignment, they may receive an excused incomplete for that assignment. However, as the success of most classes is contingent upon students completing their homework in advance, students that do not complete homework assignments, even if they have a good excuse, will also be excused from class and asked not to attend that session. If a student fails to complete his or her assignment without notifying the instructor and getting an excuse, the assignment will be marked as unexcused incomplete. An email notification will be sent to the student’s parents, and the student’s grade will be negatively affected.</p>

<p><em>Deadline and class attendance reminders:</em> Students will receive automated emails 24 hours in advance of all homework deadlines and class sessions. Aside from these reminders, students are personally responsible for completing their assignments and remembering to attend class. MindImp staff will note when students do not complete assignments or miss class, but they will not send out extra reminders to help students remember.</p>

<p><em>Policy on Student Behavior:</em> If students commit offenses such as intentional plagiarism, cheating, or treating their classmates or instructors disrespectfully, they will be subject to an escalating series of punishments. A first offense receives a warning, a second offense a short suspension, a third offense a longer suspension, and a fourth offense expulsion. Students who have been expelled will no longer be allowed to enroll in any MindImp programs. Students who are suspended may return after their suspension, but they are responsible for completing the work that they missed while suspended. Depending on the length of the suspension, they may not be able to complete courses that they were enrolled in and will have to enroll in the same courses again in a future academic term if they wish to get credit for the courses.</p>

<p><b><h3>Student Evaluations:</h3></b></p>

<p>Reading Program: Students in these programs and their parents will receive evaluations from their advisors every two months. A student’s evaluation will cover different measures of his or her English ability, communication skills, effort and professionalism, as well as a discussion of how he or she is progressing towards preparedness for college.</p>

<p>Course Program: Students enrolled in courses and their parents will receive an evaluation of their performance in the course, including a grade, at the end of the course. Students can also ask about their performance informally during meetings with the instructor. Students may schedule one short instructor meeting per course.</p>

<p><b><h3>Course Evaluations: </h3></b>After completing a course or having been enrolled in another program for a suitable period of time, a student may be asked to give feedback on the course or program and how it could be improved.</p>

