<% if current_user %> 

<h1> Student Portal </h1>

<div class="well">

<%= button_to "My Profile", user_path(current_user.id), method: :get, class: "btn btn-info"%> </br>
<%= button_to "My Classes", root_path, method: :get, class: "btn btn-info"%>
</div>

<% else %>

<h1> Please login first </h1>
<%= button_to "Login", :login, method: :get, class: "btn btn-info" %>


<% end %>