<h1>Zoom: Tips and Tricks</h1>

<div class="row">
	<div class="col-md-6 col-offset-3">
		<ul style="list-style-type:circle">


	<li>Test your audio and video before the first class. Log into the meeting a couple minutes early to make any tweaks to your audio and video settings</li></br>
	<li>If you are experiencing feedback, try moving away from electronics in your vicinity. If need be, turn your mic off while you are listening, and flip it on before speaking. This is especially useful in big groups. Your instructor may have specific instructions related to this at the beginning of class. </li></br>
	<li>In addition to occupying the most screen space (in screen view only), you will know the speaker by the light-up border around their image.</li></br>
	<li>Breakout sessions will be added to Zoom at a later date. Until then, the Chat function and Skype will be used to for pair work and small-group work. </li></br>
</ul>
</div>
</div>
