<h1>Zoom: A Tutorial</h1>

<p><h2>To Log In:</h2></p>
<ol>
<li>Click Start Zoom</li>
<img src="http://i.imgur.com/DOgrUbN.png" style="width:500px">
<li>Click “Join a Meeting”</li>
<li>Type in the 10-digit Meeting ID (provided before class) and your preferred first name and last name. Then, click “Join.”</li>
<img src="http://i.imgur.com/U9p1AHS.png" style="width:500px">

</ol>
