<h1>Zoom: A Tour</h1>

<p>
	<ol>
		<img src="http://i.imgur.com/4AvRF0r.png" align="center" style="width:650px"><br></br>
		<li>Full Screen and view toggle. From here, you can maximize and minimize Zoom. When multiple people are in a meeting, you can switch between speaker view (speaker is large, with smaller versions of other participants) or gallery view (everyone in the meeting appears on the screen at once). </li>
		<li>Video screen. When you have your camera on, your face will appear here.</li>
		<li>Mic icon – audio toggle. Use this to turn your mic on and off.</li>
		<li>Audio – Change audio settings, including establishing or disconnecting your computer’s AV with Zoom.</li>
		<li>Camera icon – video toggle. Use this to turn your video camera on and off. </li>
		<li>Settings – Test your audio and visual, change recording settings, and further customize your Zoom experience.</li>
		<li>Invite – Send messages to others to add them to the meeting.</li>
		<li>Participants – View a list of people in the meeting. The host can toggle participants’ mic and video settings. Others can select the “Raise Hand” option to signal the host. </li>
		<li>Share Screen – Allows a person to show the meeting members their desktop, audio, documents, or other media that may be useful for the meeting.</li>
		<li>Chat – Send text messages to all participants or private text messages to individuals. This will be used for partner and small-group work in class.</li>
		<li>Record – Once turned on, all audio and video in the session will be saved. It will be converted to a reviewable format once you leave the meeting. </li>
		<li>End Meeting – leave the meeting. Hosts can choose to leave and keep the meeting room open, or close the meeting room to all participants. </li>
	</ol>
</p>
