<h1>Book Directory</h1>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="https://app.mindimp.com/books/17">
      <img src="http://i.imgur.com/rqb6g5M.jpg" alt="...">
    </a>
      <div class="carousel-caption">
        <h3>Jane Austen</h3>
        <p>Pride and Prejudice </p>
      </div>
    </div>
    <div class="item">
      <a href="https://app.mindimp.com/books/14">
      <img src="http://i.imgur.com/c3YnLmY.jpg" alt="...">
    </a>
      <div class="carousel-caption">
        <h3>Yann Martel</h3>
        <p>Life of Pi</p>
      </div>
    </div>
    <div class="item">
      <a href="https://app.mindimp.com/books/32">
      <img src="http://i.imgur.com/jopZ1AR.jpg" alt="...">
      </a>
      <div class="carousel-caption">
        <h3>Lois Lowry</h3>
        <p>The Giver</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<hr/>



<div class="row-fluid">
<% @books.each do |b| %>
   <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
        <%= image_tag b.cover.url(:medium) %>
        <dt><%= link_to b.title, book_path(b)%></dt>
        </div>  
        <br/><br/>
  
      </div>
<% end %>
</div>
</div>


<br>

  <%= link_to "View as table", index_table_path, :class => "btn" %>


<% if current_user.is_admin? %>
  <%= link_to "Add a New Book", new_book_path, :class => "btn" %>
<% end %>