<h1>Editing <%= @course_session.full_title %></h1>

<%= render 'form' %>

<br>
<%= link_to 'Back to Course Session', @course_session %> |
<%= link_to 'Back to Course Session List', course_sessions_path %>
