<h1>Course Sessions</h1>



<table id="table_course_sessions" class="datatable-wide table table-striped table-bordered">
  <thead>
    <tr>
      <th>Course </th>
      <th>Session Name </ht>
    </tr>
  </thead>
  <tbody>
  <% for course_session in @course_sessions %>
    <td><%= link_to course_session.course.title, course_session %></td>
    <td><%= link_to course_session.title, course_session %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>



<br>

<%= link_to 'New Course session', new_course_session_path %>
