<h1> All Course Packets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_packets.each do |course_packet| %>
      <tr>
        <td><%= link_to 'Show', course_packet %></td>
        <td><%= link_to 'Edit', edit_course_packet_path(course_packet) %></td>
        <td><%= link_to 'Destroy', course_packet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course packet', new_course_packet_path %>
