<h1>MindImp Article Sources</h1>

<div class="row">
<% @article_sources.each do |a| %>
   <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
        <%= image_tag a.photo.url(:medium) %>
        <dt><%= link_to a.title, article_source_path(a)%></dt>
        </div>  
        <br/><br/>
  
      </div>
<% end %>
</div>




<% if current_user.is_admin? %>
<%= link_to 'Add an Article source', new_article_source_path %>
<% end %>
