<h1>Book Categories</h1>

<% if !@book_categories.empty? %>

<%  @book_categories.each do |c|  %>
  <%= link_to c.title, c, class: "btn btn-lg btn-info"%>
  <% end %>

<% else %>
<div class="well">
There don't seem to be any book categories. If you are an administrator, why don't you add one? </br>
</div>
<% end %>







</br>
<% if current_user.is_admin? %>
<%= link_to "View as a Table", categories_table_path, :class => "btn" %>
<%= link_to 'Add a Book Category', new_book_category_path, :class => "btn"  %>
<% end %>
