<h1>Book Categories</h1>

<% if !@book_categories.nil? %>

<%  @book_categories.each do |c|  %>
  <%= link_to c.title, c, class: "btn btn-lg btn-info"%>
  <% end %>

<% else %>
There don't seem to be any categories, why don't you create one?
<%= link_to 'Add a Book Category', new_book_category_path, :class => "btn"  %>
<% end %>







</br>
<%= link_to "View as a Table", categories_table_path, :class => "btn" %>
<%= link_to 'Add a Book Category', new_book_category_path, :class => "btn"  %>
