<h1>Editing Discussion Question</h1>

<%= render 'form' %>

<%= link_to 'Show', @discussion_question %> |
<% if !@discussion_question.book.nil? %>
<%= link_to 'Back to Book', book_path(@discussion_question.book) %>
<% else %>
<%= link_to 'Back to Article', article_path(@discussion_question.article) %>
<% end %> 
	