<div class="row">
  <div class="col-md-6 col-md-offset-3"><h1>Login</h1>

<%= render 'form' %>

</br><p><%= link_to 'Back', root_path, class: "btn btn-info" %> 

</p> New user? <%= link_to "Sign up!", register_path %> | <%= link_to 'Forgot Password?', new_password_reset_path %></p>

</div>
</div>